:host {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

form {
    padding: 16px;
}

form>* {
    margin-top: 16px;
}

.full-width {
    width: 100%;
}

.mat-mdc-radio-group {
    display: flex;
    gap: 16px;
}

.right-align {
    text-align: right;
}