<form [formGroup]="applianceForm" (submit)="onSubmit()">

    <h2>
        <mat-form-field class="full-width">
            <mat-label>
                Nosaukums
            </mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="applianceForm.controls.name.hasError('duplicate')">
                Nosaukums "{{ applianceForm.controls.name.getError('duplicate') }}" jau tiek izmantots
            </mat-error>
            <mat-error *ngIf="applianceForm.controls.name.hasError('required')">
                Jānorāda obligāti
            </mat-error>
        </mat-form-field>
    </h2>

    <div>
        <mat-form-field id="minimum-delay">
            <mat-label>
                Mazākais laiks
            </mat-label>
            <input matInput type="number" formControlName="minimumDelay" class="right-align">
            <span matTextSuffix>stundas</span>
            <mat-error *ngIf="applianceForm.controls.minimumDelay.hasError('min')">
                Jābūt lielākam par nulli
            </mat-error>
            <mat-error *ngIf="applianceForm.controls.minimumDelay.hasError('required')">
                Jānorāda obligāti
            </mat-error>
            <mat-hint align="end">Mazākais laiks, ko var atlikt</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <label id="delay-label">Atliktais laiks norāda cikla</label>
        <mat-radio-group aria-labelledby="delay-label" formControlName="delay">
            <mat-radio-button value="start">sākumu</mat-radio-button>
            <mat-radio-button value="end">beigas</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>
        <h4>
            Patēriņa cikli
        </h4>
        <laiks-power-cycles formControlName="cycles"></laiks-power-cycles>
    </div>

    <mat-divider></mat-divider>

    <div>
        <ng-container *ngIf="id; else createButton">
            <button mat-raised-button
                [disabled]="(busy$ |async) || applianceForm.pristine === true || applianceForm.valid === false">
                SAGLABĀT
            </button>
            <button mat-button color="warn" type="button" (click)="onDelete(id)" [disabled]="busy$ |async">
                DZĒST
            </button>
        </ng-container>
        <ng-template #createButton>
            <button mat-raised-button
                [disabled]="(busy$ |async) || applianceForm.pristine === true || applianceForm.valid === false">
                IZVEIDOT
            </button>
        </ng-template>
        <a mat-button routerLink=".." [disabled]="busy$ |async">
            ATCELT
        </a>
    </div>

</form>