<div class="container">

    <form [formGroup]="newUserForm" (submit)="onCreateUser($event)">
        <mat-form-field class="full-width">
            <mat-label>e-pasts</mat-label>
            <input matInput type="email" formControlName="email" autocomplete="email" />
            @if (newUserForm.controls.email.hasError('required')) {
            <mat-error>
                e-pasts jānorāda obligāti
            </mat-error>
            }
            @if (newUserForm.controls.email.hasError('email')) {
            <mat-error>
                neatbilstošs e-pasts
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>parole</mat-label>
            <input matInput type="password" formControlName="password" autocomplete="new-password" />
            @if (newUserForm.controls.password.hasError('minlength')) {
            <mat-error>
                Parolei jāsatur vismaz {{newUserForm.controls.password.getError('minlength')?.['requiredLength']}}
                zīmes
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Parole atkārtoti</mat-label>
            <input matInput type="password" formControlName="passwordRepeat" autocomplete="new-password" />
            @if (newUserForm.controls.password.valid &&
            newUserForm.controls.passwordRepeat.hasError('passwordsDontMatch')) {
            <mat-error>
                Parolēm jāsakrīt
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Vārds</mat-label>
            <input matInput formControlName="name" autocomplete="name" />
            @if (newUserForm.controls.name.hasError('required')) {
            <mat-error>
                Jānorāda obligāti
            </mat-error>
            }
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" [disabled]="newUserForm.valid === false">
            IZVEIDOT
        </button>
    </form>
</div>