<table mat-table [dataSource]="npPrices$" [trackBy]="trackByFn" multiTemplateDataRows>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let price">
            {{ price.startTime | date:'d. MMM' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="time">

        <th mat-header-cell *matHeaderCellDef>Laiks</th>
        <td mat-cell *matCellDef="let price">
            <laiks-price-time [time]="price.startTime"></laiks-price-time>-<laiks-price-time [time]="price.endTime">
            </laiks-price-time>
        </td>

    </ng-container>

    <ng-container matColumnDef="difference">

        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let price">
            <span *ngIf="price.difference >= 0">
                {{ price.difference | numberSign }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="price">

        <th mat-header-cell *matHeaderCellDef>c/kWh</th>
        <td mat-cell *matCellDef="let price" class="mat-body-strong">
            {{ price.value * 1.21 / 10 | number:'1.2-2' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="appliance">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let price">
            <laiks-appliance-price [price]="price" [appliances]="appliances"></laiks-appliance-price>
        </td>
    </ng-container>

    <!-- Izvēršanas poga -->
    <ng-container matColumnDef="expand">

        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let price">
            <button mat-icon-button [laiksHourDetails]="hourDetailsPanel" [laiksHourDetailsOffset]="price.difference"
                #hourDetails="hourDetails">
                <mat-icon>
                    {{ hourDetails.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                </mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let price; columns: displayedColumns" [laiksPriceRow]="price"></tr>

</table>

<ng-template #hourDetailsPanel let-offset="offset">
    <mat-list>
        <mat-list-item *ngFor="let appliance of appliances">
            <laiks-appliance-consumption [npPrices]="npPrices" [appliance]="appliance"
                [timeOffset]="offset"></laiks-appliance-consumption>
        </mat-list-item>
    </mat-list>
</ng-template>