<mat-table [dataSource]="users$" [trackBy]="trackByFn">

    <ng-container matColumnDef="email">
        <mat-cell *matCellDef="let user;">
            <a mat-button [routerLink]="[user.id]">
                {{ user.email }}
            </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="verified">
        <mat-cell *matCellDef="let user;">
            <mat-checkbox [checked]="user.verified" (change)="onSetVerified(user.id)"
                [disabled]="user.verified || busy()"></mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-cell *matCellDef="let user">
            <a mat-icon-button [routerLink]="[user.id,'settings']" [disabled]="busy()">
                <mat-icon>
                    manage_accounts
                </mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>

</mat-table>