<mat-table [dataSource]="users$" [trackBy]="trackByFn">

    <ng-container matColumnDef="email">
        <mat-cell *matCellDef="let user;">
            <a mat-button [routerLink]="[user.id]">
                {{ user.email }}
            </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="verified">
        <mat-cell *matCellDef="let user;">
            <mat-checkbox [checked]="user.verified" (change)="onSetVerified(user.id)"
                [disabled]="user.verified || busy()"></mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-cell *matCellDef="let user;">
            <button mat-icon-button (click)="onDelete(user.id)" [disabled]="user.id === activeUserId || busy()">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>

</mat-table>