:host {
    display: block;
    max-width: 480px;
    margin: 16px auto;
}

mat-cell {
    padding-left: 8px;
    padding-right: 8px;

    &:first-of-type {
        padding-left: 16px;
    }

    &:last-of-type {
        padding-right: 16px;
    }
}

.mat-column-verified {
    flex: 0 64px;
}

.mat-column-delete {
    flex: 0 72px;
}