:host {
    display: block;
    max-width: 480px;
    margin: 16px auto;
}

mat-cell,
mat-header-cell {
    padding-left: 4px;
    padding-right: 4px;

    &:first-of-type {
        padding-left: 8px;
    }

    &:last-of-type {
        padding-right: 8px;
    }
}

.mat-column-selection {
    flex: 0 48px;
}

.mat-column-edit {
    flex: 0 60px;
}