<mat-table [dataSource]="users$" [trackBy]="trackByFn">

    <ng-container matColumnDef="email">
        <mat-cell *matCellDef="let user;">
            <a mat-button [routerLink]="[user.id]">
                @if (user.email.length > 0) {
                {{ user.email }}
                } @else {
                {{ user.id }}
                }
            </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-cell *matCellDef="let user">
            <a mat-icon-button [routerLink]="[user.id,'settings']">
                <mat-icon>
                    manage_accounts
                </mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>

</mat-table>