<section>
  <div class="buttons-row">
    <button mat-button (click)="onScrapeAll()" [disabled]="busy()">
      Nolasīt jaunākos datus
    </button>
  </div>
</section>

<mat-divider />

<section>
  <div class="buttons-row">
    <mat-form-field>
      <mat-label>Datuma izvēle</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="dateToScrape"
        id="dateToScrape"
        required
        [max]="tomorrow"
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker" />
      <mat-datepicker #picker />
    </mat-form-field>
    <button
      mat-button
      [disabled]="busy() || dateToScrapeValid() === false"
      (click)="onScrapeAll(dateToScrape())"
    >
      Nolasīt vienas dienas datus
    </button>
  </div>
</section>

<mat-divider />

<section>
  <div class="buttons-row">
    <button
      mat-raised-button
      [disabled]="busy()"
      (click)="onDeleteInactiveUsers()"
    >
      Dzēst neaktīvos lietotājus
    </button>
  </div>
</section>
<mat-divider />
<section>
  @if (result(); as data) {
    <h3>Atbilde:</h3>
    <p>
      {{ data | json }}
    </p>
  }

  @if (error(); as err) {
    <h3>Kļūda:</h3>
    <p>
      {{ err["message"] }}
    </p>
  }

  @if (busy()) {
    <div class="spinner">
      <mat-spinner [diameter]="240"></mat-spinner>
    </div>
  }
</section>
