.mat-column-index {
    max-width: 2.5rem;
    text-align: center;
}

.mat-column-length,
.mat-column-consumption {
    input {
        max-width: 80px;
    }
}

.mat-column-actions {
    flex: 0 76px;

    .large & {
        flex: 0 112px;
    }
}