@if (user(); as staticUser) {
  <span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      @if (staticUser.photoURL; as photo) {
        <img [src]="photo" alt="Avatars" />
      } @else {
        <mat-icon> account_circle </mat-icon>
      }
    </button>

    <mat-menu #userMenu>
      <a mat-menu-item routerLink="user-settings">
        {{ laiksUser()?.name || staticUser.displayName }}
      </a>

      @if (isNpAllowed()) {
        <a mat-menu-item routerLink="/prices"> Cenas </a>
        <a mat-menu-item [routerLink]="['user-settings', 'appliances']">
          Mani aparāti
        </a>
      }

      @if (isAdmin()) {
        <button mat-menu-item [mat-menu-trigger-for]="adminMenu">
          Sistēmas Iestatījumi
        </button>
      }

      <a mat-menu-item routerLink="/privacy-politics"> Privātuma politika </a>

      <button mat-menu-item (click)="onLogout()">Atslēgties</button>
    </mat-menu>

    <mat-menu #adminMenu>
      <a mat-menu-item routerLink="/admin/users"> Lietotāji </a>
      <a mat-menu-item routerLink="/admin/appliances"> Elektroiekārtas </a>
      <a mat-menu-item routerLink="/admin/market-zones"> Tirgus reģioni </a>
      <a mat-menu-item routerLink="/admin/special-actions"> Darbības </a>
    </mat-menu>
  </span>
} @else {
  <span>
    <button mat-icon-button [matMenuTriggerFor]="noUserMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </span>

  <mat-menu #noUserMenu>
    <a mat-menu-item routerLink="/login"> Pieslēgties </a>
    <a mat-menu-item routerLink="/privacy-politics"> Privātuma politika </a>
  </mat-menu>
}
