<span *ngIf="user; else noUser">

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <img *ngIf="user.photoURL as photo; else noPhoto;" [src]="photo">

        <ng-template #noPhoto>
            <mat-icon>
                account_circle
            </mat-icon>
        </ng-template>

    </button>

    <mat-menu #userMenu>

        <span mat-menu-item>
            {{ user.displayName }}
        </span>

        <a mat-menu-item *ngIf="isNpAllowed" routerLink="/prices">
            Cenas
        </a>

        <a mat-menu-item routerLink="user-settings">
            Mani iestatījumi
        </a>

        <a mat-menu-item *ngIf="isNpAllowed" [routerLink]="['user-settings', 'appliances', laiksUser?.id]">
            Mani aparāti
        </a>

        <button mat-menu-item [mat-menu-trigger-for]="adminMenu" *ngIf="isAdmin">
            Sistēmas Iestatījumi
        </button>

        <button mat-menu-item (click)="onLogout()">
            Atslēgties
        </button>

    </mat-menu>

    <mat-menu #adminMenu>
        <a mat-menu-item routerLink="/admin/users">
            Lietotāji
        </a>
        <a mat-menu-item routerLink="/admin/appliances">
            Elektroiekārtas
        </a>
        <a mat-menu-item routerLink="/admin/market-zones">
            Tirgus reģioni
        </a>
    </mat-menu>


</span>

<ng-template #noUser>

    <span>
        <button mat-icon-button [matMenuTriggerFor]="noUserMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
    </span>

    <mat-menu #noUserMenu>
        <button mat-menu-item (click)="onLogin()">
            Pieslēgties ar Google
        </button>
    </mat-menu>

</ng-template>