.avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
    background-color: #fff;
    // background-image:url("/data/login/avatar")
}

img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
}