:host {
    height: 100%;
    display: flex;
}

.centered {
    padding: 16px;
}

.centered {
    margin-top: auto;
    margin-bottom: auto;
}

section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.full-width {
    width: 100%;
}