<div class="vertical-container">
    <laiks-appliance-form [formControl]="applianceForm" [existingAppliances]="existingAppliances()">

        <div class="buttons">
            <button mat-raised-button
                [disabled]="busy() || applianceForm.valid === false || applianceForm.pristine === true"
                (click)="onSave()">
                {{ idx() ? 'SAGLABĀT' : 'IZVEIDOT' }}
            </button>
            <a mat-button [disabled]="busy()" class="cancel" routerLink="..">
                ATCELT
            </a>
            <button mat-button (click)="onCopyFrom()">
                NO GATAVAJIEM
            </button>
        </div>

    </laiks-appliance-form>
</div>