:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-toolbar {
    flex-shrink: 0;
}

.container {
    overflow: auto;
    height: 100%;
}

laiks-user-menu {
    margin-left: auto;
}