<mat-toolbar color="primary">

    <span>
        <a mat-icon-button routerLink="/">
            <mat-icon>
                home
            </mat-icon>
        </a>
    </span>

    @if (isNpAllowed()) {
    <span>
        <a mat-button routerLink="/prices">
            Cenas
            @if (marketZone(); as zone) {
            {{zone.id}} ({{zone.description}})
            }
        </a>
    </span>
    }

    <laiks-user-menu [user]="user()" (logout)="onLogout()" [laiksUser]="laiksUser()" [isAdmin]="isAdmin()"
        [isNpAllowed]="isNpAllowed()">
    </laiks-user-menu>

</mat-toolbar>

<div class="container" cdkScrollable>

    <router-outlet></router-outlet>

</div>