<mat-toolbar color="primary">

    <span>
        <a mat-icon-button routerLink="/">
            <mat-icon>
                home
            </mat-icon>
        </a>
    </span>

    <span *ngIf="isNpAllowed$ | async">
        <a mat-button routerLink="/prices">
            CENAS
            <span *ngIf="marketZone$ | async as zone;">
                {{zone.id}} ({{zone.description}})
            </span>
        </a>
    </span>

    <laiks-user-menu [user]="user$ | async" (logout)="onLogout()" [laiksUser]="laiksUser$ | async"
        [isAdmin]="isAdmin$ | async" [isNpAllowed]="isNpAllowed$ | async">
    </laiks-user-menu>

</mat-toolbar>

<div class="container" cdkScrollable>

    <router-outlet></router-outlet>

</div>