@use 'sass:map';
@use "@angular/material" as mat;

@mixin hour-details-color($config-or-theme) {
    // Extract the color configuration in case a theme has been passed.
    // This allows consumers to either pass a theme object or a color configuration.
    $color-config: mat.get-color-config($config-or-theme);


    $accent-palette: map.get($color-config, 'accent');

    // $background: map-get($accent-palette, "background");
    // $background: map-get($config, "background");

    // Define any styles affected by the theme.
    .laiks-hour-details {
        background-color: mat.get-color-from-palette($accent-palette, 'darker');
        color: mat.get-color-from-palette($accent-palette, 'text');
    }
}

@mixin hour-details-typography($config-or-theme) {
    // Extract the typography configuration in case a theme has been passed.
    $config: mat.get-typography-config($config-or-theme);
}

@mixin hour-details() {
    .laiks-hour-details {
        max-height: calc(100vh - 72px);
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 4px;
    }
}

@mixin theme($theme) {
    // Extracts the color and typography configurations from the theme.
    $color: mat.get-color-config($theme);
    $typography: mat.get-typography-config($theme);

    // Do not generate styles if configurations for individual theming
    // systems have been explicitly set to `null`.
    @if $color !=null {
        @include hour-details-color($color);
    }

    @if $typography !=null {
        @include hour-details-typography($typography);
    }

    @include hour-details();
}