@use 'sass:map';
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin appearance() {

    input[laiksInput] {
        background-color: inherit;

        &:focus {
            outline: none;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        display: none;
    }

}

@mixin md3-typography($theme) {

    input[laiksInput] {
        font-size: mat.get-theme-typography($theme, body-large, font-size); //  16px
        font-weight: mat.get-theme-typography($theme, body-large, font-weight); // 600
    }

}

@mixin md3-color($theme) {

    input[laiksInput] {

        color: mat.get-theme-color($theme, on-surface);

        caret-color: mat.get-theme-color($theme, primary);
        border: none;

        border-bottom: {
            color: mat.get-theme-color($theme, on-surface-variant);
            width: 2px;
            style: solid;
        }

        &.ng-invalid {
            border-bottom-color: mat.get-theme-color($theme, error);
            color: mat.get-theme-color($theme, on-surface);
        }


        &:focus {
            border-bottom-color: mat.get-theme-color($theme, primary);
        }
    }

}


@mixin md3-theme($theme) {

    @include appearance();

    @if $theme !=null {
        @include md3-typography($theme);
        @include md3-color($theme);
    }


}