@use 'sass:map';
@use '@angular/material' as mat;


@mixin md3-theme($theme) {
    :root {
        --primary-color: #{mat.get-theme-color($theme, primary)};
        --on-primary-color: #{mat.get-theme-color($theme, on-primary)};
        --primary-container-color: #{mat.get-theme-color($theme, primary-container)};
        --on-primary-container-color: #{mat.get-theme-color($theme, on-primary-container)};

        --secondary-container-color: #{mat.get-theme-color($theme, secondary-container)};
        --tertiary-container-color: #{mat.get-theme-color($theme, tertiary-container)};

    }
}