@mixin appearance() {

    .vertical-container {
        display: block;
        margin: 16px auto;
        max-width: 480px;
        width: 100%;
    }

}

@mixin theme() {

    @include appearance();

}