@use '@angular/material' as mat;
@use './variables';
@use './input-theme' as laiks-input;
@use './vertical-container';

@include mat.elevation-classes();
@include mat.app-background();

$dark-theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$rose-palette,
                tertiary: mat.$cyan-palette,
            ),
            density: (scale: -1),
        ));

html {


    @include mat.all-component-themes($dark-theme);

    @include laiks-input.md3-theme($dark-theme);
}

body {
    background-color: mat.get-theme-color($dark-theme, surface);
    color: mat.get-theme-color($dark-theme, on-surface);
}

.tertiary-button {
    @include mat.button-color($dark-theme, $color-variant: tertiary);
}

@include variables.md3-theme($dark-theme);

@include vertical-container.theme();