@use '@angular/material' as mat;
@use './variables';
@use './input-theme' as laiks-input;
@use './hour-details-theme' as hour-details;
@use './vertical-container';

@include mat.core();

// Define a theme.
$primary: mat.define-palette(mat.$pink-palette, 700, 500, 900);
$accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme((color: (primary: $primary,
                accent: $accent,
                warn: $warn ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($theme);

@include variables.theme($theme);

@include laiks-input.theme($theme);

@include hour-details.theme($theme);

@include vertical-container.theme($theme);