<laiks-appliance-form [formControl]="applianceForm" [existingAppliances]="existingAppliances$ | async"
    class="vertical-container">

    <div class="buttons">

        <button mat-raised-button [disabled]="applianceForm.valid === false || applianceForm.pristine === true"
            (click)="onSave()">
            {{ id ? 'SAGLABĀT' : 'IZVEIDOT' }}
        </button>

        <a mat-button [disabled]="busy()" class="cancel" routerLink="..">
            ATCELT
        </a>
    </div>

</laiks-appliance-form>