:host {
    height: 90px;
    display: flex;
}

.container {
    margin: 0 auto;
}

.active {
    font-weight: 900;
}

.price:not(.active) {
    opacity: 50%;
}

.active .value {
    font-size: 200%;
}