.mat-mdc-table {
    width: 100%;
}

.mat-column-index {
    width: 1rem;
    text-align: center;
}

.mat-column-length {
    padding-right: 4px;
}

.mat-column-length,
.mat-column-consumption {
    & .mat-mdc-form-field {
        max-width: 120px;
    }
}

.mat-mdc-cell {
    padding-left: 4px;
    padding-right: 4px;
}