.mat-table {
    width: 100%;
}

.mat-column-index {
    min-width: 2rem;
}

.mat-column-length {
    padding-right: 16px;
}

.mat-column-length,
.mat-column-consumption {
    & .mat-form-field {
        max-width: 120px;
    }
}