<div class="container" *ngIf="activeAppliancesWithData$ | async as activeAppliances">

    <div *ngFor="let appliance of activeAppliances; index as idx" class="appliance">
        <div class="color-tag">
            <div [style.background-color]="appliance.data.color"></div>
        </div>
        <div class="name">
            {{ appliance.data.name }}
        </div>
        <div>
            <button mat-icon-button (click)="onRemoveAppliance(idx, activeAppliances)">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </div>
    </div>

    <div class="add-button">
        <button mat-fab [disabled]="busy()" (click)="onAppendAppliance(activeAppliances)">
            <mat-icon>
                add
            </mat-icon>
        </button>
    </div>

</div>