<div class="container" *ngIf="activeAppliancesWithData$ | async as activeAppliances">

    <div cdkDropList (cdkDropListDropped)="onMoveAppliance($event)" [cdkDropListData]="activeAppliances"
        [cdkDropListDisabled]="busy()">

        <div cdkDrag *ngFor="let appliance of activeAppliances; index as idx; trackBy: trackByFn" class="appliance"
            cdkDragBoundary=".cdk-drop-list">
            <div cdkDragHandle>
                <mat-icon>
                    drag_indicator
                </mat-icon>
            </div>
            <div class="color-tag">
                <div [style.background-color]="appliance.data.color"></div>
            </div>
            <div class="name">
                {{ appliance.data.name }}
            </div>
            <div class="buttons">
                <a mat-icon-button *ngIf="appliance.type===1" [routerLink]="[appliance.applianceId]">
                    <mat-icon>
                        edit
                    </mat-icon>
                </a>
                <button mat-icon-button (click)="onRemoveAppliance(idx, activeAppliances)">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
            </div>
        </div>

    </div>

    <div class="add-button">
        <button mat-fab [disabled]="busy()" (click)="onAppendAppliance(activeAppliances)">
            <mat-icon>
                add
            </mat-icon>
        </button>
    </div>

</div>