<div class="container" *ngIf="activeAppliancesWithData$ | async as activeAppliances">

    <div *ngFor="let appliance of activeAppliances; index as idx" class="appliance">
        {{ appliance.data.name }}
        <button mat-icon-button (click)="onRemoveAppliance(idx, activeAppliances)">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>


    <div class="add-button">
        <button mat-fab [disabled]="busy()" (click)="onAppendAppliance(activeAppliances)">
            <mat-icon>
                add
            </mat-icon>
        </button>
    </div>

</div>