form {
    padding: 16px;

    &>div {
        &:not(:first-child) {
            margin-top: 16px;
        }
    }
}

mat-divider {
    margin: 16px 0;
}

.full-width {
    width: 100%;
}

.mat-mdc-radio-group {
    display: flex;
    gap: 16px;
}

.right-align {
    text-align: right;
}