:host {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 16px auto;
}

table {
    width: 100%;
}

.add-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.mat-column-enabled {
    width: 24px;
}

.mat-column-color {
    min-width: 8px;
    width: 8px;
    padding: 0;
}