<mat-table [dataSource]="appliances$">
  <ng-container matColumnDef="name">
    <mat-cell *matCellDef="let appliance">
      <a mat-button [routerLink]="[appliance.id]" [disabled]="busy()">
        {{ appliance.name }}
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <mat-cell *matCellDef="let appliance">
      <mat-checkbox
        [checked]="appliance.enabled"
        (change)="onEnable($event, appliance.id)"
        [disabled]="busy()"
        class="enabled"
      >
      </mat-checkbox>

      <a
        mat-icon-button
        [routerLink]="[appliance.id, 'localized-names']"
        [disabled]="busy()"
        class="localized-names"
      >
        <mat-icon> translate </mat-icon>
      </a>

      <button
        mat-icon-button
        (click)="onDelete(appliance.id, appliance.name)"
        [disabled]="busy()"
        class="delete"
      >
        <mat-icon> delete </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="color">
    <mat-cell *matCellDef="let appliance">
      <laiks-color-tag [color]="appliance.color" />
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let appliance; columns: displayColumns"></mat-row>
</mat-table>

<div class="add-button">
  <a mat-fab routerLink="new" id="new-button">
    <mat-icon> add </mat-icon>
  </a>
</div>
