<mat-table [dataSource]="appliances$">

    <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let appliance">
            <a mat-button [routerLink]="[appliance.id]">
                {{ appliance.name }}
            </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="enabled">
        <mat-cell *matCellDef="let appliance">
            <mat-checkbox [checked]="appliance.enabled" (change)="onEnable($event, appliance.id)"></mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
        <mat-cell *matCellDef="let appliance">
            <laiks-color-tag [color]="appliance.color"></laiks-color-tag>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="localized-names">
        <mat-cell *matCellDef="let appliance">
            <a mat-icon-button [routerLink]="[appliance.id,'localized-names']">
                <mat-icon>
                    translate
                </mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let appliance; columns: displayColumns"></mat-row>

</mat-table>

<div class="add-button">
    <a mat-fab routerLink="new">
        <mat-icon>
            add
        </mat-icon>
    </a>
</div>