<div class="vertical-container">
    <h2>
        {{ user?.name }}
    </h2>
    <h3>
        {{ user?.email }}
    </h3>

    <section>
        <ul>
            <li>
                <mat-checkbox [checked]="(npBlocked$ | async) === true" (change)="onSetNpBlocked($event.checked)"
                    [disabled]="npBlockedBusy()">
                    Nav pieejas elektrības cenām
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox [checked]="(admin$ | async) === true" (change)="onSetAdmin($event.checked)"
                    [disabled]="adminBusy() || id() === activeUserId">
                    Administratora tiesības
                </mat-checkbox>
            </li>
        </ul>

    </section>

    <a mat-button routerLink="/admin/users" [disabled]="adminBusy() || npBlockedBusy()">
        ATPAKAĻ
    </a>

</div>