<form [formGroup]="userForm" (submit)="onSave()">

    <h2>
        {{ initialData.email }}
    </h2>

    <mat-form-field class="full-width">
        <mat-label>Vārds</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <section>
        <ul>
            <li>
                <mat-checkbox formControlName="npAllowed">
                    Pieeja elektrības cenām
                </mat-checkbox>
            </li>

            <li>
                <mat-checkbox formControlName="isAdmin" (change)="onIsAdmin($event.checked)">
                    Administratora tiesības
                </mat-checkbox>
            </li>
        </ul>

    </section>

    <mat-divider> </mat-divider>

    <button mat-raised-button type="submit"
        [disabled]="busy() || userForm.value.verified === true && (!userForm.valid || userForm.pristine)">
        SAGLABĀT
    </button>

    <button mat-button type="button" color="warn" (click)="onDelete()" [disabled]="busy()">
        DZĒST
    </button>

    <a mat-button routerLink="../" [disabled]="busy()">
        ATCELT
    </a>


</form>