<form [formGroup]="userForm">
  <mat-form-field class="full-width">
    <mat-label>Vārds</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field class="medium-input">
    <mat-label>Valsts</mat-label>
    <mat-select formControlName="locale" required>
      @for (locale of locales(); track locale.id) {
        <mat-option [value]="locale.id">
          {{ locale.id }} - {{ locale.language }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (npAllowed()) {
    <mat-form-field class="medium-input">
      <mat-label>Cenu reģions</mat-label>
      <mat-select
        formControlName="marketZoneId"
        required
        (selectionChange)="onZoneChange($event.value)"
      >
        @for (zone of zones(); track zone.id) {
          <mat-option [value]="zone.id">
            {{ zone.id }} - {{ zone.description }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>PVN apjoms</mat-label>
      <input matInput formControlName="vatAmount" type="number" />
    </mat-form-field>

    <mat-checkbox formControlName="includeVat"> PVN iekļauts </mat-checkbox>
  }
</form>

<ng-content></ng-content>
